<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1 style="text-align: center;"><font face="Lucida Sans Unicode, Lucida Grande, sans-serif">Login page</font></h1>
    <hr>
    <form method="post">
    <p align="center">Login:<br>
        <input maxlength="20" name="login" type="text"></p>

    <p align="center">Password:<br>
        <input maxlength="50" name="password" type="password"></p>


        <p align="center"><input name="button" type="submit" value="Login"></p>
    </form>
    <p align="center">&nbsp;</p>
</div>
</body>
</html>