<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <p>&nbsp;</p>

    <h1 style="text-align: center;"><font face="Lucida Sans Unicode, Lucida Grande, sans-serif">Weclome to the Survey
        Application!</font></h1>
    <hr>
    <p><font face="Lucida Sans Unicode, Lucida Grande, sans-serif">1)&nbsp;</font></p>

    <p><font face="Lucida Sans Unicode, Lucida Grande, sans-serif"><input name="radio1" type="radio" value="0">I adore
        it!<br>
        <input name="radio2" type="radio" value="1">It is good enough<br>
        <input name="radio3" type="radio" value="2">I don&#39;t like it<br>
        <input name="radio4" type="radio" value="3">HATE IT</font></p>

    <p><font face="Lucida Sans Unicode, Lucida Grande, sans-serif">2) Please choose your level of satisfaction with the
        cources in IU?</font></p>

    <p><font face="Lucida Sans Unicode, Lucida Grande, sans-serif"><select name="list" size="1">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select></font></p>
    <p><font face="Lucida Sans Unicode, Lucida Grande, sans-serif">3) How did you deal with army? Please,
        describe.</font></p>

    <p><font face="Lucida Sans Unicode, Lucida Grande, sans-serif"><textarea cols="70" name="text_edit"
                                                                             rows="8"></textarea></font></p>

    <p><font face="Lucida Sans Unicode, Lucida Grande, sans-serif"><input name="submit_button" type="submit"
                                                                          value="Submit answers"></font></p>
</div>
</body>
</html>